.card {
  min-height: 500px;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: white;

  & > * {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    padding: 30px 0px;
    font-size: 32px;
    background-color: #96ab21;
  }

  &__price {
    padding: 50px 0px;
    gap: 6px;
    background-color: #b1c452;

    &-num {
      font-size: 65px;
      order: 2;
    }

    &-currency,
    &-period {
      font-size: 24px;
    }

    &-currency {
      order: 1;
      align-self: flex-start;
    }

    &-period {
      order: 3;
      align-self: flex-end;
    }
  }

  &__speed,
  &__traffic {
    font-size: 24px;
    line-height: 150%;
    color: rgb(78, 78, 78);
    text-align: center;
  }

  &__speed {
    padding: 29px 0px;
    background-color: #f8f8f8;
  }

  &__traffic {
    padding: 29px;
    background-color: #eeeeee;
  }

  //special cases
  &__title--basic {
    background-color: #1f9eab;
  }

  &__price--basic {
    background-color: #2bc1d5;
  }

  &__title--standard {
    background-color: #1f8972;
  }

  &__price--standard {
    background-color: #26ad8d;
  }

  &__title--premium {
    background-color: #c3554d;
  }

  &__price--premium {
    background-color: #f4695f;
  }

  &__title--ultimate {
    background-color: #2c3039;
  }

  &__price--ultimate {
    background-color: #323a44;
  }
}

.card--bigger {
  box-shadow: 3px 3px 18px 0px #e4e4e4;

  .card__title {
    padding: 40px 0px;
  }

  .card__price {
    padding: 60px 0px;
  }
}
